// Mixins in here



//button mixin

.btn-mixin (@width, @height, @bgcolor, @border, @border-radius, @color, @font-size, @cursor) {
    width: @width;
    height: @height;
    background-color: @bgcolor;
    border: @border;
    border-radius: @border-radius;
    color: @color;
    font-size: @font-size;
    cursor: @cursor;

}

//@bg-color = #008080, @color = #ffffff

.btn {
    .btn-mixin(78%, 12%, #008080, none, 1rem, #ffffff, 1.6rem, pointer);

    &:hover {
        background-color: white;
        color: teal;
        transition-duration: 0.4s;
    }
}

//Centering Mixin

.centerMixin (@width, @justify-content, @align-items) {
    display: flex;
    width: 100%;
    justify-content: @justify-content;
    align-items: @align-items;
}